//-
//-   Copyright 2013 Life Cycle Engineering
//-
//-   Licensed under the Apache License, Version 2.0 (the "License");
//-   you may not use this file except in compliance with the License.
//-   You may obtain a copy of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//-   Unless required by applicable law or agreed to in writing, software
//-   distributed under the License is distributed on an "AS IS" BASIS,
//-   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-   See the License for the specific language governing permissions and
//-   limitations under the License.
//-

//-
//-   Authors:  Adam Brightwell, Robert Dunigan
//-

extends layout

block append head_meta
  meta(http-equiv="refresh", content="#{refreshTime}")

block content

  div.span3.well.bs-docs-sidebar
    h2 Feed
  div.span6.well
    h2 Scoreboard

    ul(data-tabs="tabs").nav.nav-tabs#tabs
      li
        a(href="#individual-scores", data-toggle="tab") Individual
      li
        a(href="#team-scores", data-toggle="tab") Team

    div.tab-content#tab-content
      div.tab-pane#individual-scores
        table.table.table-striped#individual-table
          thead
            tr
              th Name
              th Points
          tbody
          each userScore in userScores
            tr
              td #{userScore.username}
              td #{userScore.score}

      div.tab-pane#team-scores
        table.table.table-striped#team-table
          thead
            tr
              th Name
              th Points
          tbody
          each teamScore in teamScores
            tr
              td #{teamScore.name}
              td #{teamScore.score}

    
  include includes/sponsors
